div{
  background-color: white;
}

#myClock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 100px;
    font-family: "Audiowide", sans-serif;
    letter-spacing: 7px;

}